<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/index.css">
	</head>
  <body>
    <div>
      <% mangas.each do |manga| %>
				<div style="float: left">
          <a href=<%= "/manga/#{manga.code}" %>>
            <img id=<%= "cover-#{manga.code}" %> src="/img/<%= manga.cover %>" alt="<%= manga.cover %>" style="width: 200px"/>
          </a>
        </div>
				<span><%= manga.title %></span>
      <% end %>
    </div>
  </body>
</html>
